{
  "presets": [
    ["env", { "loose": true }],
    "react"
  ],
  "plugins": [
    ["prismjs", {
      "languages": ["clike", "javascript", "markup", "jsx", "reason"],
      "plugins": ["line-numbers"],
      "theme": "twilight",
      "css": true
    }],
    "add-module-exports",
    "transform-object-rest-spread",
    "transform-class-properties",
    ["transform-react-remove-prop-types", {
      "mode": "wrap"
    }]
  ]
}
